<div>
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a routerLink="/dashboard/admin/projects" class="nav-link"
                routerLinkActive="custom-active-link-dashboard-tabs">Projects</a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/admin/manageproject" class="nav-link"
                routerLinkActive="custom-active-link-dashboard-tabs">Manage Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="custom-active-link-dashboard-tabs">Access Center</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="custom-active-link-dashboard-tabs">Test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
    </ul>
</div>