<div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3 d-flex">
                <button class="btn btn-danger btn-sm ms-auto" type="button" data-bs-toggle="collapse"
                    data-bs-target="#addProjectCollapse" aria-expanded="false" aria-controls="collapseExample">
                    + Create Project
                </button>
            </div>
        </div>
    </div>
    <div class="collapse" id="addProjectCollapse">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mb-3 flex-fill rounded-0">
                    <div class="card-header text-center">ADD NEW PROJECT</div>
                    <div class="card-body">
                        <form [formGroup]="projectFormGroup" (ngSubmit)="handleAddProject()">
                            <div class="mb-3">
                                <label for="projectName" class="form-label">Project Name</label>
                                <input type="text" class="form-control rounded-0" id="projectName"
                                    aria-describedby="firstName" formControlName="projectName"
                                    [class.is-invalid]="controls['projectName'].touched && controls['projectName'].invalid">
                                @if(controls['projectName'].touched && controls['projectName'].invalid){
                                <div class="form-text text-danger">
                                    @if(controls['projectName'].hasError('required')){
                                    <div>This is mandatory field !!</div>
                                    }
                                    @if(controls['projectName'].hasError('minlength')){
                                    <div>Minimum Length Required : 3 !!</div>
                                    }
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Project Description</label>
                                <div class="form-floating">
                                    <textarea class="form-control rounded-0" placeholder="Leave a comment here"
                                        id="description" style="height: 100px" formControlName="description"
                                        [class.is-invalid]="controls['description'].touched && controls['description'].invalid"></textarea>
                                </div>
                                @if(controls['description'].touched && controls['description'].invalid){
                                <div class="form-text text-danger">
                                    @if(controls['description'].hasError('required')){
                                    <div>This is mandatory field !!</div>
                                    }
                                    @if(controls['description'].hasError('minlength')){
                                    <div>Minimum Length Required : 5 !!</div>
                                    }
                                </div>
                                }
                            </div>
                            <div class="text-center">
                                <button class="btn btn-sm btn-primary m-1" type="submit">ADD</button>
                                <button class="btn btn-sm btn-danger m-1" type="button"
                                    (click)="handleReset()">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Project Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created Date</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (project of projects; track project.projectDisplayId) {
                    <tr>
                        <th scope="row">{{project.projectDisplayId}}</th>
                        <td>{{project.projectName}}</td>
                        <td>{{project.createdDate | date}}</td>
                        <td>{{project.startDate | date}}</td>
                        <td>{{project.projectStatus }}</td>
                        <td>{{project.endDate}}</td>
                        <td>
                            <a class="btn btn-sm btn-danger m-1" [routerLink]="['/admin/dashboard/manageproject']" [queryParams]="{projectDisplayId:project.projectDisplayId}">Manage</a>    
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>