/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
    display: none;
}

/* Ensure body is still scrollable */
body {
    overflow-y: scroll;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
